version: '3.8'

services:
  tests:
    build:
      context: ./tests
    entrypoint: /bin/bash /app/entrypoint.sh
    volumes:
      - "./tests/app/:/app/"
      - "./channels_auth_token_middlewares:/new_app/channels_auth_token_middlewares"
      - "./README.md:/new_app/README.md"
      - "./pyproject.toml:/new_app/pyproject.toml"
